  <div class="container">
		<div class="page-header">
			<center><h1>PT Pizzeria</h1> </center>     
		</div>
	  	 
		           
					<div class="CajaInicio animated bounceInRight">
							
							<h1>Listado de productos</h1>
							<!-- id="listaPersonas" -->
								<input type="search" ng-model="q" placeholder="buscar usuario.." aria-label="buscar usuario" />
							
								<table class='example-animate-container table table-hover table-responsive' id="listaPersonas">
									<thead>
										<tr>
											<th>  Foto   </th>				
											<th>  Tipo     </th>
											<th>  Marca   </th>
											<th>  precio  </th>
											<th>  Stock   </th>
											<th>  BORRAR   </th>
											<th>  MODIFICAR  </th>
										</tr> 
									</thead>

									<tbody>
										
									<tr  class="animate-repeat" ng-repeat="producto in ListadoProductos| filter:q as results">
										<td><img  class='img-responsive img-border-left' ng-src="fotos/{{producto.foto}}" alt="Foto de {{producto.tipo}} {{producto.marca}}" /></td>
							
										<td>{{producto.tipo}}</td>
										<td>{{producto.marca}}</td>
										<td>{{producto.precio}}</td>
										<td>{{producto.stock}}</td>

										<td><button class='btn btn-danger' name='Borrar' ng-click="Borrar(producto)">   <span class='glyphicon glyphicon-remove-circle'>&nbsp;</span>Borrar</button></td>
										
										<td><button class='btn btn-warning' name='Modificar'  ui-sref="modificar({id:producto.id, tipo:producto.tipo, marca:producto.marca, stock:producto.stock, foto:persona.foto})" ><span class='glyphicon glyphicon-edit'>&nbsp;</span>Modificar</button></td>
															
									</tr>
									<tr class="animate-repeat" ng-if="results.length == 0">
										<td></td>						
										<td> <strong>no hay personas con ese dato...</strong></td>
										<td></td>
										<td></td>
										<td></td>										
										<td></td>								     
								    </tr>
									
								    <tbody>
								</table>
							</div>
														
						</div>
		</div>